<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tracker</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add-todo">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Todo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="account-transaction" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Account Transaction
            </NavLink>
        </div>
      
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="debt-detail" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Debt
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bank-detail" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Bank
            </NavLink>
        </div>

    </nav>
</div>
