@page "/debt-detail"
@using Tracker.Models
@using Tracker.Services
@inject AuthenticationStateService authStateService
@inject IUserService userService
@inject NavigationManager navigationManager



@if (authStateService.IsAuthenticated())
{
    <h2>Add Debt </h2>

    <form>
        <div>
            <h3>Debt Amount</h3>
            <input type="number" />
        </div>
        <div>
            <h3>from Bank</h3>
            <input type="text" />
        </div>
    </form>
    <button>Add</button>

}


@code {

}
